/* Barra de navegación */
nav {
    display: flex; 
    align-items: center; 
    position: fixed;
    background-color: #F2E8DC ;
    border-radius: 30px;
    margin: 0;
    top: 10px;
    padding: 20px;
    width: auto;
    max-width: 100%;
    left: 20px;
    right: 20px;
}

#tituloLogo {
    position: fixed;
    right: 60px;
    font-size: 24px; 
    letter-spacing: -1px;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    font-weight: bold;
}
nav a {
    text-decoration: solid;
    font-size: 25px;
    color: #404040 ;
    font-family:'Franklin Gothic Medium';
}
.navegacion{
    margin-left: 20px;
}
/* Cuerpo de la pagina web */

main{
    margin-top: 10%;
    background-color:#F2E8DC;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 40px;
}
#tituloPagina{
    text-align: center;
    margin-top: 40px;
}

body{
    background-image: url(../Img/PaisajeJapon.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

/* hueco de noticias central*/

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
}

article {
    display: flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content: center;
    margin-top: 20px;
}


/* Disposición de cada noticia dentro del bloque de noticias */
.contenedor-noticias{
    column-count: 2;
    column-gap: 20px;
}
