/* Barra de navegación */
nav {
    display: flex; 
    align-items: center; 
    position: fixed;
    background-color:#D98B8B;
    border-radius: 30px;
    margin: 0;
    top: 10px;
    padding: 20px;
    width: auto;
    max-width: 100%;
    left: 20px;
    right: 20px;
}

#tituloLogo {
    position: fixed;
    right: 60px;
    font-size: 24px; 
    letter-spacing: -1px;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    font-weight: bold;
}

#logoPagoda img {
    width: 50px; /* Ajusta el tamaño según sea necesario */
    height: auto; /* Para mantener la proporción */
    right: 30px;
}

nav a {
    text-decoration: solid;
    font-size: 25px;
    color: #404040 ;
    font-family:'Franklin Gothic Medium';
}
.navegacion{
    margin-left: 20px;
}
/* Cuerpo de la pagina web */

main{
    margin-top: 10%;
    margin-bottom: 10%;
    background-color:#F2E8DC;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 40px;
}

body{
    background-image: url(../Img/PaisajeJapon.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

/* disposicion de las noticias*/

#tituloPagina{
    display: inline;
    text-align: center;
    justify-content: center;
    margin-top: 40px;
    font-family: 'Arial Black', sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

section {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
}

article {
    border-top: rgb(51, 51, 51, 0.5) dashed 2px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
}

.texto-noticia{
    background-color: rgb(217, 139, 139, 0.5) ;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    margin-right: 20px;
}
.tituloArticulo{
    font-family: 'Franklin Gothic Medium';
    font-weight: bold;
    font-size: 30px;
    margin-left: 20px;
    margin-right: 20px; 
}
.descripcion{
    color:#404040;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.media{
    width: 500px;
    height: 300px;
}

/* footer y demás*/
footer{
    background-color: #D98B8B;
    display:flex;
}